punc/ufl/*.h
punc/build
demo/langmuir/build
demo/langmuir/Results
demo/laframboise/build
demo/laframboise/Results
demo/injection/build
demo/convergence/build
demo/capacitance/build
demo/boris/build
demo/varobject/build
.vscode
sandbox/basis/build
sandbox/fields/build
sandbox/flux/build
sandbox/injection_v0/build
sandbox/injection_v0/vs.txt
sandbox/injection_v1/build
sandbox/injection_v2/build
sandbox/mesh
sandbox/MultiDim/*.h
sandbox/MultiDim/build
sandbox/parallel/build
sandbox/punc/build
sandbox/struct/build
sandbox/varobjects/build
sandbox/varobjects/*.py
sandbox/varobjects/*.h
sandbox/Clement/build
deprecated/punc/*.swp
deprecated/punc/Charge.h
deprecated/punc/EField1D.h
deprecated/punc/EField2D.h
deprecated/punc/EField3D.h
deprecated/punc/Potential1D.h
deprecated/punc/Potential2D.h
deprecated/punc/Potential3D.h
deprecated/punc/VarPotential1D.h
deprecated/punc/VarPotential2D.h
deprecated/punc/VarPotential3D.h
deprecated/punc/Energy.h
deprecated/punc/Flux.h
deprecated/punc/Surface.h
deprecated/punc/Volume.h
deprecated/punc/ErrorNorm1D.h
deprecated/punc/ErrorNorm2D.h
deprecated/punc/ErrorNorm3D.h
deprecated/demo/langmuir/build
deprecated/demo/langmuir/Results
deprecated/demo/Laframboise/build
deprecated/demo/Laframboise/Results
deprecated/demo/injection/build
deprecated/demo/injection/mesh
deprecated/demo/convergence/build
deprecated/demo/capacitance/build
deprecated/demo/capacitance/mesh
deprecated/demo/varobject/build
deprecated/demo/laframboise/build
deprecated/demo/laframboise/Results
