punc/doc.html
punc/install
**/build
**/mesh
**/Results
**.swp
**.pvd
**.vtu
**.dat
.vscode

# This part should perhaps be cleaned up
sandbox/injection_v0/vs.txt
sandbox/MultiDim/*.h
sandbox/varobjects/*.py
sandbox/varobjects/*.h
